.container {
  display: flex;
  flex-direction: column;
  gap: 7px;

  &__info {
    font-size: 12px;
  }

  label {
    font-weight: 700;
    font-size: 18px;
  }

  select {
    font-weight: 600;
    font-size: 16px;
  }

  option {
    padding: 2px;
  }

  &__average {
    font-weight: 500;
    font-size: 16px;
  }
}
